.cart-container{
    p{
        display: inline-block;
        padding-right: 10px;
        padding-top: 3px;
      }
}
  
  ul.ant-card-actions{
    background-color: #fae1dd;
    padding: 5px;
  
  }
  
  button.ant-btn.ant-btn-primary{
    width: 80%;
    height: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  
  svg{
    width: 15px;
    height: 16px;
    margin-bottom:5px;
  }
  
  h5{
    padding-top: 10px;
  }

  .ant-list-item:hover{
    box-shadow: 5px 0 5px black;
    cursor: pointer;
    transform: scaleY(1.025);
    transition: 0.25s;
  } 